In [14]:
# Download https://www.kaggle.com/api/v1/datasets/download/asaniczka/top-spotify-songs-in-73-countries-daily-updated and save it as spotify.csv
import os
import requests
import zipfile
import io

def download_file():

    # Check if the file already exists, if so, return
    if os.path.exists('spotify.csv'):
        print("Skipping download, file already exists")
        return

    print("Downloading file to spotify.csv")

    zipped_request = requests.get('https://www.kaggle.com/api/v1/datasets/download/asaniczka/top-spotify-songs-in-73-countries-daily-updated')
    unzipped_file = zipfile.ZipFile(io.BytesIO(zipped_request.content))

    # Extract the specific file from the zip archive and save it as spotify.csv
    for file_name in unzipped_file.namelist():
        if file_name.endswith('.csv'):
            with open('spotify.csv', 'wb') as f:
                f.write(unzipped_file.read(file_name))
            break

download_file()

Skipping download, file already exists

In [15]:
# Load the data from the file spotify.csv
import pandas as pd

data = pd.read_csv('spotify.csv')

In [24]:
# Print all columns
print(data.columns)
data.head()

Index(['spotify_id', 'name', 'artists', 'daily_rank', 'daily_movement',
       'weekly_movement', 'country', 'snapshot_date', 'popularity',
       'is_explicit', 'duration_ms', 'album_name', 'album_release_date',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'time_signature'],
      dtype='object')

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,5vNRhkKd0yEAg8suGBpjeY,APT.,"ROSÉ, Bruno Mars",1,0,1,NaN,2024-11-27,98,False,...,0,-4.477,0,0.2600,0.0283,0.0,0.3550,0.939,149.027,4
1,2plbrEY59IikOBgBGLjaoe,Die With A Smile,"Lady Gaga, Bruno Mars",2,0,-1,NaN,2024-11-27,100,False,...,6,-7.777,0,0.0304,0.3080,0.0,0.1220,0.535,157.969,3
2,2CGNAOSuO1MEFCbBRgUzjd,luther (with sza),"Kendrick Lamar, SZA",3,0,47,NaN,2024-11-27,64,False,...,2,-7.546,1,0.1250,0.2510,0.0,0.2480,0.576,138.008,4
3,0nj9Bq5sHDiTxSHunhgkFb,squabble up,Kendrick Lamar,4,0,46,NaN,2024-11-27,86,True,...,0,-5.568,1,0.1980,0.0206,0.0,0.0783,0.711,103.921,4
4,0aB0v4027ukVziUGwVGYpG,tv off (feat. lefty gunplay),"Kendrick Lamar, Lefty Gunplay",5,1,45,NaN,2024-11-27,85,True,...,6,-6.679,0,0.2630,0.0837,0.0,0.4230,0.548,100.036,4

In [25]:
# Drop unnecessary columns
data = data.drop(columns=['daily_movement', 'weekly_movement'])

In [36]:
# Make a dataframe with for each column, (column name, number of values, number of unique values, mode, mean (if applicable), median (if applicable), standard deviation (if applicable), min (if applicable), max (if applicable), % missing values) 
summary = pd.DataFrame(columns=['column', 'number_of_values', 'number_of_unique_values', 'min', 'mode', 'mean', 'median', 'max', 'std', 'missing_values'])

for column in data.columns:
    number_of_values = len(data[column])
    number_of_unique_values = len(data[column].unique())
    mode = data[column].mode().values[0]
    mean = data[column].mean() if data[column].dtype == 'float64' else None
    median = data[column].median() if data[column].dtype == 'float64' else None
    std = data[column].std() if data[column].dtype == 'float64' else None
    min_value = data[column].min() if data[column].dtype == 'float64' else None
    max_value = data[column].max() if data[column].dtype == 'float64' else None
    missing_values = data[column].isnull().sum() / number_of_values 

    summary = pd.concat([summary, pd.DataFrame([{'column': column, 'number_of_values': number_of_values, 'number_of_unique_values': number_of_unique_values, 'mode': mode, 'mean': mean, 'median': median, 'std': std, 'min': min_value, 'max': max_value, 'missing_values': missing_values}])], ignore_index=True)

C:\Users\StijnLievaartChockab\AppData\Local\Temp\ipykernel_16516\2047910605.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary = pd.concat([summary, pd.DataFrame([{'column': column, 'number_of_values': number_of_values, 'number_of_unique_values': number_of_unique_values, 'mode': mode, 'mean': mean, 'median': median, 'std': std, 'min': min_value, 'max': max_value, 'missing_values': missing_values}])], ignore_index=True)
C:\Users\StijnLievaartChockab\AppData\Local\Temp\ipykernel_16516\2047910605.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary = pd.concat([summary, pd.DataFrame([{'column': column, 'number_of_values': number_of_values, 'number_of_unique_values': number_of_unique_values, 'mode': mode, 'mean': mean, 'median': median, 'std': std, 'min': min_value, 'max': max_value, 'missing_values': missing_values}])], ignore_index=True)
C:\Users\StijnLievaartChockab\AppData\Local\Temp\ipykernel_16516\2047910605.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary = pd.concat([summary, pd.DataFrame([{'column': column, 'number_of_values': number_of_values, 'number_of_unique_values': number_of_unique_values, 'mode': mode, 'mean': mean, 'median': median, 'std': std, 'min': min_value, 'max': max_value, 'missing_values': missing_values}])], ignore_index=True)
C:\Users\StijnLievaartChockab\AppData\Local\Temp\ipykernel_16516\2047910605.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary = pd.concat([summary, pd.DataFrame([{'column': column, 'number_of_values': number_of_values, 'number_of_unique_values': number_of_unique_values, 'mode': mode, 'mean': mean, 'median': median, 'std': std, 'min': min_value, 'max': max_value, 'missing_values': missing_values}])], ignore_index=True)
C:\Users\StijnLievaartChockab\AppData\Local\Temp\ipykernel_16516\2047910605.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  summary = pd.concat([summary, pd.DataFrame([{'column': column, 'number_of_values': number_of_values, 'number_of_unique_values': number_of_unique_values, 'mode': mode, 'mean': mean, 'median': median, 'std': std, 'min': min_value, 'max': max_value, 'missing_values': missing_values}])], ignore_index=True)

In [37]:
summary

,column,number_of_values,number_of_unique_values,min,mode,mean,median,max,std,missing_values
0,spotify_id,1468130,17814,NaN,6dOtVTDdiauQNBQEDOtlAB,NaN,NaN,NaN,NaN,0.000000
1,name,1468130,15841,NaN,Beautiful Things,NaN,NaN,NaN,NaN,0.000020
2,artists,1468130,10282,NaN,Sabrina Carpenter,NaN,NaN,NaN,NaN,0.000019
3,daily_rank,1468130,50,NaN,1,NaN,NaN,NaN,NaN,0.000000
4,country,1468130,73,NaN,DO,NaN,NaN,NaN,NaN,0.013628
5,snapshot_date,1468130,405,NaN,2024-03-16,NaN,NaN,NaN,NaN,0.000000
6,popularity,1468130,101,NaN,87,NaN,NaN,NaN,NaN,0.000000
7,is_explicit,1468130,2,NaN,False,NaN,NaN,NaN,NaN,0.000000
8,duration_ms,1468130,13871,NaN,180304,NaN,NaN,NaN,NaN,0.000000
9,album_name,1468130,11886,NaN,HIT ME HARD AND SOFT,NaN,NaN,NaN,NaN,0.000456
10,album_release_date,1468130,2368,NaN,2023-09-15,NaN,NaN,NaN,NaN,0.000345
11,danceability,1468130,775,0.000000,0.841,0.684726,0.704000,0.988,0.136959,0.000000
12,energy,1468130,940,0.000020,0.738,0.653679,0.672000,0.998,0.162028,0.000000
13,key,1468130,12,NaN,1,NaN,NaN,NaN,NaN,0.000000
14,loudness,1468130,8227,-37.334000,-5.692,-6.420050,-5.968000,3.233,2.574906,0.000000
15,mode,1468130,2,NaN,1,NaN,NaN,NaN,NaN,0.000000
16,speechiness,1468130,1255,0.000000,0.0285,0.094773,0.058100,0.937,0.090033,0.000000
17,acousticness,1468130,2549,0.000003,0.183,0.270444,0.183000,0.996,0.248499,0.000000
18,instrumentalness,1468130,3660,0.000000,0.0,0.017453,0.000001,0.977,0.092186,0.000000
19,liveness,1468130,1402,0.013900,0.104,0.170004,0.120000,0.978,0.124367,0.000000
20,valence,1468130,1126,0.000000,0.219,0.551858,0.553000,0.992,0.227246,0.000000
21,tempo,1468130,12666,0.000000,105.029,122.246873,119.960000,235.907,28.039598,0.000000
22,time_signature,1468130,5,NaN,4,NaN,NaN,NaN,NaN,0.000000